extends layout

block head
	script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/QuizBd.js')
    script(type='text/javascript', src='/javascripts/QuizUser.js')
    script(type='text/javascript', src='/javascripts/quiz.js')
    script(type='text/javascript')
      var bd;
      var user;
      var form;
      var question;
      var stats;
      $(function () {
      form = $("section.question > form");
      stats = $("section.stats");
      user = new QuizUser();
      // Chargement de la BD
      $.getJSON("ressources/questions.json", function (data) {
      bd = new QuizBd(data);
      question = afficherNouvelleQuestion(bd, user, form);
      });
      // Formulaire question
      form.submit(function (event) {
      event.preventDefault();
      if ($("button[type=submit]", form).html() == "Corriger") {
      var reussie = corrigerQuestion(question, form);
      user.addQuestionTestRapide(reussie);
      $("button[type=submit]", form).html("Question suivante");
      }
      else {
      question = afficherNouvelleQuestion(bd, user, form);
      $("button[type=submit]", form).html("Corriger");
      }
      afficherStats(user, stats, true);
      });
      // Détails stats
      $("#details_link").click(function() {
      afficherHistoExamens(user, $("#details"));
      });
      // RaZ stats
      $("#raz_link").click(function() {
      user.raz();
      afficherStats(user, stats, true);
      });
      // Sauvegarde score tests rapides lors du changement de page
      $(window).bind("beforeunload", function () {
      user.saveTestRapide();
      });
      afficherStats(user, stats, true);
      });

block content
	div
    section#details.classDetails
        a.back(href='#')
        section
          h1 Derniers examens
          ul
      section.stats
        h1 Stats
        ul
        a#details_link(href='#details') Détails
        | -
        a#raz_link(href='#') RaZ
      section.question
        form
          h1(data-theme='HTML') Question #
          div
            p Intitulé de la question
          nav
            a.button(href='tableau.html') Retour au tableau de bord
            button(type='submit') Corriger