/*TOUTES LES PAGES*/
* {
	background-color: rgb(238,238,238);
	font-family: 'Open Sans Condensed', sans-serif;
}

body{
	margin: 0px;
}

header {
	overflow: hidden;
	background-color: rgb(108,122,137);
}

header img{
	float: left;
}

#logo{
	margin: 10px;
}

article, section{
	margin: 100px;
}

h2{
	font-size: 130%;
}

a {
	color: black;
	font-size: 200%;
	text-decoration: none;
}

ul.navigation{
	background-color: rgb(108,122,137);
}

ul.navigation li{
	display: inline;
	margin-right: 25px;
}

ul.navigation li a{
	background-color: rgb(108,122,137);
	padding-right: 10px;
	padding-left: 10px;
	color: white;
}

ul.navigation a.active {
	background-color: rgb(210,215,211);
	color: black;
}

footer{
	position: absolute;
	bottom: 0px;
	right: 10px;
}

/*Page Acceuil*/

#start {
	margin: 50px;
	text-align: center;
	background-color:  rgb(108,122,137);
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#start a{
	background-color:  rgb(108,122,137);
}

/*Page tableau*/

.stats{
	position: absolute;
	right: -100px;
	padding-left:20px; 
	text-align: center;
	background-color: rgb(189,195,199);
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.stats h1, .stats p, .stats a{
	background-color: rgb(189,195,199);
	margin: 10px;
}

.stats a{
	font-size: 100%;
}

.questionnaire{
	text-align: center;
}

#test, #exam {
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-style: solid;
    border-width: 3px;
    border-color: rgb(108,122,137);
}



/*Page regles*/
#regle img{
	float: left;
}

/*pop-up details
probleme sans les visibility quand on charge la page, autre solution?
*/

.classDetails{
	position: fixed;
	margin: 0px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	visibility: hidden;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.classDetails:target{
	visibility: visible;
	opacity: 1;
	pointer-events:auto;
}

.classDetails > section {
	width: 60%;
	position: relative;
	top : 50px;
	margin: 10% auto;
	padding: 4px 20px 13px 20px;
	border-radius: 10px;
	background: rgb(238,238,238);
}