extends layout

block headDetails
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(type='text/javascript', src='/javascripts/QuizUser.js')
  script(type='text/javascript', src='/javascripts/quiz.js')

block nav
 ul
     li
       a(href='/') Accueil
     li
       a(href='/tableau') Tableau de bord
     li
       a(href='/regles') Règles

block content
  div
    section.ajoutQuestion
        h1 Ajouter une question
        form#ajout(method='post', action='ajouterQuestion')
            label Domaine
                input(type='text', name='domaine', required)
                br
            label Question
                input(type='text', name='question', required)
                br
            label Reponses séparées par une virgule
                input(type='text', name='reponses', required)
                br
            label Position de la bonne reponse dans votre liste
                input(type='text', name='idBonneReponse', required)
                br
            button(type='submit') Ajouter