extends layout

block nav
    ul
        li
          a(href='/') Accueil
        li
          a(href='/tableau') Tableau de bord
        li
          a(href='/regles') Règles

block content
    div
        section
          h1 Félicitations
          p Vous avez fini votre examen
          p.resultat Vous avez obtenu la note de #{note} %. #{desc}
          a(href='tableau') Retour au tableau de bord