extend layout

block head
	block headDetails

block nav
	block navDetails

block content
	div
		section#details.classDetails
				a.back(href='#')
				section
					h1 Derniers examens
					ul
			section.stats
				h1 Stats
				ul
				a#details_link(href='#details') Détails
				| -
				a#raz_link(href='#') RaZ
		block contentDetails
