doctype html
html
  head
    title Le Quizz
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet', type='text/css')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js')
    script(type='text/javascript', src='/javascripts/quizClient.js')
    block head
  body
    header
        img#logo(src='/images/zone42.png', width='60', height='58', style='background-color: rgb(108,122,137);')
        nav
          block nav
    block content
    footer Courbe Baptiste et Vaillant Thomas