extends details
- var modeExamen = false

block headDetails
    if modeExamen
        script(type='text/javascript', src='javascripts/quizQuestionExamen.js')
    else
        script(type='text/javascript', src='javascripts/quizQuestionRapide.js')


block navDetails
    ul
        li
          a(href='/') Accueil
        li
          a(href='/tableau') Tableau de bord
        li
          a(href='/regles') Règles

block contentDetails
    section.question(ng-app='Quiz')
        form(ng-controller=modeExamen ? 'QuestionExamenControlleur' : 'QuestionRapideControlleur')
            if modeExamen
                h1(data-theme='{{question.domaine}}') Question {{noQuestion}}/{{nbQuestions}}
            else
                h1(data-theme='{{question.domaine}}') Question {{noQuestion}}

            div
                p {{question.question}}

                div
                    label.reponses(ng-repeat='reponse in question.reponses', ng-class='{repVraie: reponse.vraie, repFausse: reponse.fausse}')
                        input(type='radio', name='reponse', value='{{reponse.id}}', ng-model='$parent.userReponse')
                        | {{reponse.value}}

            nav(ng-switch, on='status')
                if modeExamen
                    a.button(href='congra') Abandon
                else
                    a.button(href='tableau') Terminer et retour au tableau de bord

                button(ng-switch-when='corriger', type='button', ng-click='corriger()') Corriger
                button(ng-switch-when='suivant', type='button', ng-click='nouvelleQuestion()') Suivant
                a.button(ng-switch-when='terminer', href='congra') Terminer